<h1><%=@breweryReview.title%></h1>

<%= @breweryReview.content %><br>

<br>
<%= link_to "This Brewery", brewery_path(@breweryReview.brewery.id) %>
<br> <br>
<%= link_to "Edit Review", edit_brewery_brewery_review_path(@breweryReview.brewery.id, @breweryReview.id) %>
<br> <br>
<%= button_to "Delete Review", @breweryReview, method: :delete, data: { confirm: "Really?" } %>