<h1><%=@breweryReview.title%></h1>

<%= @breweryReview.content %><br>

<br>
<%= link_to "This Brewery", brewery_path(@breweryReview.brewery.id) %>
<br>
<%= link_to "Edit Review", edit_brewery_brewery_review_path(@breweryReview.brewery_id) %>
<br> 
<%= link_to "Delete Review", brewery_reviews_path(@breweryReview) %>